---
layout: default
title: Drafts
permalink: /drafts/
---
<div class="app-content">
  {% include components/sidebar.html %}
  <div class="content-container">
    <div class="content">
      {% include components/content-toolbar.html %}
      <ul class="content-list">
        {% include content-list-item.html title="System76 Releases Pop!_OS, a Linux Desktop Focused on Creators" date="Aug 16" n="1" %}
        {% include content-list-item.html title="Introducing the All New Oryx Pro Laptop: Made from Aluminum Alloy" date="Oct 29, 2015" n="2" commentNo="10" %}
        {% include content-list-item.html title="Introducing The New Ratel Pro: The Remarkable, Foot-Tall, All-Aluminum Desktop Powered by Intel’s New 6th-Gen CPUs" date="Oct 27, 2015" n="3" %}
        {% include content-list-item.html title="Introducing the Wild Dog Pro Featuring Intel 6th Gen CPUs" date="Oct 20, 2015" n="4" commentNo="1" %}
        {% include content-list-item.html title="System76 Releases Pop!_OS, a Linux Desktop Focused on Creators" date="Aug 16" n="5" commentNo="2" %}
        {% include content-list-item.html title="Introducing the All New Oryx Pro Laptop: Made from Aluminum Alloy" date="Oct 29, 2015" n="6" %}
        {% include content-list-item.html title="Introducing The New Ratel Pro: The Remarkable, Foot-Tall, All-Aluminum Desktop Powered by Intel’s New 6th-Gen CPUs" date="Oct 27, 2015" n="7" %}
        {% include content-list-item.html title="Introducing the Wild Dog Pro Featuring Intel 6th Gen CPUs" date="Oct 20, 2015" n="8" commentNo="1" %}
      </ul>
    </div>
  </div>
</div>